@font-face {
	font-family: 'Quicksand';
	src: url('./fonts/Quicksand-Regular.ttf') format('truetype');
}
:root {
    --primary: #000;
    --secondary: #fff;
    --hover: #208e91b3;
    --primary-bg: #fffcf7;
    --secondary-bg: #000000b1;
    --primary-color: #121212;
    --body-bg: #208e91;
    --shadow-color: 0px 7px 15px 1px #000000bb;
    --input-bg: #d1cfca;
    --gradient-dark-bg: #0a293c;
    --gradient-light-bg: #457491;
    --card-shadow: 0px 0px 15px 1px #000000bb;
}

[data-theme='dark'] {
    --primary: #f0f0f0;
    --primary-bg: #0000009f;
    --primary-color: #f0f0f0;
    --input-bg: #343434;
    --solid-bg: #191919;
    --gradient-dark-bg: #161616;
    --gradient-light-bg: #373737;
    --card-shadow: 0px 0px 15px 1px #208d9183;
}

body {
    color: var(--primary-color);
}

body::before {
    background-attachment: scroll;
    content: '';
    display: block;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    width: 100vw;
    z-index: 0;
    background-image: url(https://c1prowbmhyo8n8ks.public.blob.vercel-storage.com/svg/ssscribble-HurHa4OHBrZJLBbkPam3gKOFiQEsLA.svg), radial-gradient(53% 67% at 50% 81%, var(--gradient-light-bg) 0%, var(--gradient-dark-bg) 100%);
    background-position: center, 0% 0%;
    background-size: cover;
}

#app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
