@import "./utilities.scss";

#app {
    width: 100%;
    height: 100%;
}

.moon {
    background: $dark-body-bg;
    color: $dark-body-color;
}

.sun {
    background: $light-body-bg;
    color: $light-body-color;
}