:root {
    --primary: #000;
    --secondary: #ffffff;
    --hover: #5d2b8e;
    --primary-bg: #fff;
    --secondary-bg: #191919bc;
    --primary-color: #000;
    --body-bg: #7D42B8;
    --shadow-color: 0px 7px 15px 1px rgba(0, 0, 0, 0.732);
    --input-bg: #dbdbdb;
    --solid-bg: #fff;
}

[data-theme='dark'] {
    --primary: #f0f0f0;
    --primary-bg: #191919bc;
    --primary-color: #f0f0f0;
    --input-bg: #343434;
    --solid-bg: #191919;
}

body {
    color: var(--primary-color);
}

body::before {
    background-attachment: scroll;
    content: '';
    display: block;
    height: 100vh;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: scale(1);
    width: 100vw;
    z-index: 0;
    background-image: url(public\gradiante.svg), radial-gradient(53% 67% at 50% 81%, #FFC0B8 0%, #7D42B8 100%);
    background-size: 512px, auto;
    background-position: center, 0% 0%;
    background-repeat: repeat, repeat;
}

#app {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
