@import "./utilities.scss";

#app {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

.moon {
    background: $dark-body-bg;
    color: $dark-body-color;
}

.sun {
    background: $light-body-bg;
    color: $light-body-color;
}