// Variables por defecto
$primary: var(--primary);
$secondary: var(--secondary);
$hover: var(--hover);
$primary-bg: var(--primary-bg);
$secondary-bg: var(--secondary-bg);
$primary-color: var(--primary-color);
$body-bg: var(--body-bg);
$shadow-color: var(--shadow-color);
$input-bg: var(--input-bg);
$solid-bg: var(--solid-bg);
$card-shadow: var(--card-shadow);

//Mixins
@mixin box($param-width: auto) {
  box-shadow: $shadow-color;
  border-radius: .5rem;
}

@mixin separator($color: $color) {
  width: 100%;
  border: 1px solid $color;
  margin: 0.5rem 0;
}

@mixin sectionTitle() {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
}

@mixin dflexCol() {
  display: flex;
  flex-direction: column;
}

@mixin dflexWrap() {
  display: flex;
  flex-wrap: wrap;
}

@mixin glassEffect() {
  background: linear-gradient(135deg rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

//RESPONSIVE MIXIN
@mixin breakpoint($size) {
  @media (max-width: $size) {
    @content;
  }
}

//Animaciones
@keyframes slide-between-colors {
  0% {
    color: $primary;
  }

  50% {
    color: $hover;
  }

  100% {
    color: $primary;
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

@keyframes bounce-right {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateX(-20px);
  }

  60% {
    transform: translateX(-10px);
  }
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all .5s;
}

.slide-right-enter-from,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(10rem);
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all .3s ease;
}

.slide-left-enter-from,
.slide-left-leave-to {
  opacity: 0;
  transform: translateY(-10rem);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-10rem);
}

// *******************************************
// ************* CUSTOM BASE *****************
// *******************************************

h2 {
  font-size: 1.5rem;

  @include breakpoint(735px) {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 1.2rem;

  @include breakpoint(735px) {
    font-size: 1rem;
  }
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

*::-webkit-scrollbar-corner {
  display: none;
}