//Variables
$primary: #006ff9;
$primary-hover: #0054bb;
$primary-lock: #0070f948;
$light: #e8e8e8;
$dark: #2c2c2c;
$light-hover: #b9b9b9;
$dark-body-bg: linear-gradient(60deg, rgba(0, 12, 50, 1) 0%, rgba(41, 41, 41, 1) 100%);
$dark-body-color: #fff;
$light-body-bg: linear-gradient(60deg, rgba(0, 117, 198, 0.14609593837535018) 29%, rgba(255, 255, 255, 1) 100%);
$light-body-color: #000000af;

@media (prefers-color-scheme: light) {
  body {
    overflow: hidden;
    background: $light-body-bg;
    color: $light-body-color;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    overflow: hidden;
    background: $dark-body-bg;
    color: $dark-body-color;
  }
}

$min-width: 320px;
$max-width: 1200px;

//Mixins
@mixin box($param-width: auto) {
  background-color: transparent;
  box-shadow: 0px 7px 15px 1px rgba(0, 0, 0, 0.554);
  border-radius: .5rem;

  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    width: $param-width;
  }
}

@mixin sectionTitle() {
  font-size: 2rem;
  font-weight: 600;
}

@mixin dflexCol() {
  display: flex;
  flex-direction: column;
}

@mixin dflexRow() {
  display: flex;
}

@mixin dflexWrap() {
  display: flex;
  flex-wrap: wrap;
}

//Animaciones
@keyframes fade-between-colors {
  0% { color: $primary; }
  50% { color: $primary-hover; }
  100% { color: $primary; }
}