//Variables
$dark: #2c2c2c;
//$backgorund-light-gradient: linear-gradient(60deg, #0035c7 0%, #011037 100%);
$backgorund-light-gradient: linear-gradient(60deg, #7321ed 0%, #240137 100%);

$primary: #d9a90a;
$light: #e8e8e8;